<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qzb.scoketlink">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoketLink"
        tools:targetApi="31">

        <activity
            android:name=".websocket.OperateActivity"
            android:exported="false" />
        <activity
            android:name=".wifip2p.WifiP2PActivity"
            android:exported="false"/>
        <activity
            android:name=".websocket.ServerActivity"
            android:exported="false" />
        <activity
            android:name=".websocket.ClientActivity"
            android:exported="false" />
        <activity
            android:name=".websocket.MainActivity"
            android:exported="false"/>

        <activity
            android:name="com.qzb.scoketlink.websocket.WifiScanActivity"
            android:launchMode="singleTop"
            android:exported="true">

        </activity>
    </application>

</manifest>